body {
    background: #333;
    color: white;
    font-size: 12px; /* 设置body的字体大小 */
}

table {
    width: 100%;
    font-size: 10px; /* 将表格的字体大小设置为10px */
}

#table {
    table-layout: fixed;
    width: 100%;
}

.tdStart, .tdCenter, .tdEnd {
    width: 16%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 4px;
    font-size: 9px; /* 将表格单元格的字体大小设置为9px */
}

td {
    width: 25%;
}

.tdCenter {
    text-align: center;
}

.tdStart {
    text-align: start;
}

.tdEnd {
    text-align: end;
}

input {
    outline-style: none;
    border: 0.8px solid grey;
    border-radius: 25px;
    padding-left: 10px;
    background-color: #333;
    color: #ccc;
    height: 23px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    visibility: hidden;
    font-size: 12px; /* 设置输入框的字体大小 */
}

/* 高亮股票样式 */
.held-stock {
    font-weight: bold;
    border: none;
    color: rgb(233, 121, 106);
    font-size: 9px; /* 设置高亮股票的字体大小 */
}

/* 移除高亮股票的边框 */
.held-stock td {
    border: none;
}


